<section class="max-w-screen-xl panel lg:flex lg:h-80 lg:mt-32 lg:mb-0 mb-20">
  
  <div class="flex-1 pt-16">
    <h3 class="font-display text-5xl">Get in touch</h3>
  </div>
  
  <div class="flex-1 pt-16 lg:pl-20">
    <h4 class="font-medium mb-2">Voice Overs</h4>
    <a href="mailto:mail@meetthejonses.co.uk">mail@meetthejonses.co.uk</a><br />
    <a href="tel:+442072538462">+44 (0)20 7253 8462</a>
  </div>
  
  <div class="flex-1 pt-16 lg:pl-20 relative">
    <div class="hidden lg:block bg-hs-marmelade rounded-tl-lg rounded-tr-lg h-80 top-0 left-0 absolute z-0 w-screen"></div>
    <div class="relative z-10">
      <h4 class="font-medium mb-2">Anything Else</h4>
      <a href="mailto:info@machym.co.uk">info@machym.co.uk</a><br />
      <a href="tel:+442075865567">+44 (0)207 586 5567</a>
    </div>    
  </div>

</section>

<footer class="bg-hs-black text-hs-dust-pink">

  <div class="max-w-screen-xl panel py-8">

    <div class="md:flex md:items-center md:justify-between">
      
      <div class="flex justify-center space-x-3 md:order-2">
        <a href="#" class="text-hs-dust-pink hover:text-black">
          {% include 'partial/icon-twitter.twig' %}
        </a>
        <a href="#" class="text-hs-dust-pink hover:text-black">
          {% include 'partial/icon-instagram.twig' %}
        </a>
      </div>
  
      <div class="mt-8 md:mt-0 md:order-1">
        <p class="text-center text-sm">
          &copy; {{"now"|date('Y')}} {{ site.name }}. All rights reserved.
        </p>
      </div>
  
    </div>

  </div>

</footer>