<section id="about" class="max-w-screen-xl panel pt-20 lg:flex">
  
  <div class="lg:flex-1 xl:flex-none xl:w-1/3 items-center flex lg:pl-10 mb-20 lg:mb-0">
    <div class="lg:absolute lg:left-0 bg-hs-seagrove-50 rounded-tr-lg rounded-br-lg lg:w-1/3 xl:w-1/4 lg:h-670"></div>
    <img class="rounded-lg relative z-10 shadow-lg" height="390" width="390" src="{{ Image(options.global_about__img).src }}" alt="{{ options.global_about__title }}">
  </div>
  
  <div class="lg:flex-1 xl:flex-none xl:w-2/3 xl:pl-24">
    
    <h2 class="text-hs-seagrove">About</h2>
    
    <h3 class="font-display text-5xl tracking-wide mt-2 mb-10">{{ options.global_about__title }}</h3>
    
    <div class="prose">
      {{ options.global_about__text }}
    </div>  
  
  </div>
  
</section>