<div class="max-w-screen-xl panel py-20">
    
    <div class="text-center">
      <h2 class="text-4xl tracking-wide font-display">
        {{ options.global_blogs__title }}
      </h2>
      <p class="mt-3 max-w-2xl mx-auto text-lg">
        {{ options.global_blogs__text }}
      </p>
      <div class="mt-10">
        <a href="/blogs" class="btn">See all blogs</a>
      </div>
    </div>
    
    <div class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
      
      {% for post in latest_posts|slice(0,3) %}
        {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
      {% endfor %}

    </div>
    
  </div>
